h1,h2,h3,h4 {
  font-family: 'Munchie', sans-serif;
  color: rgb(95, 133, 117);
  text-decoration: underline;
}

.namesheader{
  text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 0px;
    line-height: 1.5;
    height: 100vh;
    min-height: 100vh;
    padding: 0px;
    text-align: center;
    width: 100%;
    background-image: url("https://sayido.b-cdn.net/2gNtB3djFTh4JJ5aoFOS41khvKQ2/images/f2f3e201-8fd8-5fa7-dad2-a2c8b8cb9e41_bg3.jpg?width=&height=auto");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;  
    flex-direction: column;
    padding: 1em;  
    
  }
  
  .rsvp{
    background: rgb(255, 255, 255);
    border-radius: 3px;
    border: 2px solid black;
    display: inline-block;
    font-size: 1.1em;
    padding: 0.7em 1.25em;
    text-decoration: none;
    color: black;
  }

  .rsvp:hover{
    cursor: pointer;
    background-color: rgb(95, 133, 117);
  }




  
